<div class="post-wrapper" style="width: 100%; display:flex; flex-direction:column; align-items:center;">

  <div class="postTitle">
    <%= @post.title %>
  </div>

  <div class="post-first-image">
    <%= image_tag @post.images.first.variant(resize:'200x200') %>
  </div>
  <div class="post-mini-images" style="display:flex;">
    <% @post.images[1..-1].each do |image| %>
      <%= image_tag image.variant(resize:'100x100') %>
    <% end%>
  </div>

  <div class="postText">
    <%= simple_format @post.content %>
  </div>

  <div class="postDate">
    <%= @post.created_at %>
  </div>

  <div class="postAuthor">
  </div>

  <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="postManage">
      <%= link_to "編集", edit_post_path(@post.id), class: "postManage__edit" %>
      <%= link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete" %>
    </div>
  <% end %>

</div>